{% extends "main/main.html" %}


{% block main %}
    <div class="box-v" style="width: 100%; align-items: center">
<h1>Entry list</h1>
    <div class="box-h">
        <form action="">
            <input disabled type="text" placeholder="Search...">
            <input disabled type="submit">
            <label for="">Sort by: </label>
            <select disabled name="" id="">
                <option value="">ID</option>
                <option value="">Name</option>
            </select>
            <button disabled>Asc</button>
            *Available in v3
        </form>
    </div>
    <div style="padding: 10px; flex: 1 0 auto; display: flex; flex-wrap: wrap; flex-direction: row; width: 100%; overflow-x: scroll; align-items: center; gap: 15px; justify-content: center">
        {% if entries %}
            {% for entry in entries %}
                {% include "entry_browser/entry_browser_element.html" %}
            {% endfor %}
        {% else %}
            No Entries found...
        {% endif %}
    </div>
    <div class="spacer-v"></div>
    <div class="box-h basic-spacing" style="padding: 10px;">
        <a href="/browser/0/{{ interval }}/"> |< </a>
        {% if page > 0 %}
        <a href="{% url "Entries:Browser:page" page=page|add:"-1" interval=interval %}"> > </a>
        {% else %}
        <
        {% endif %}
        Page: {{ page }}
        {% if not last_page %}
        <a href="{% url "Entries:Browser:page" page=page|add:"1" interval=interval %}"> > </a>
        {% else %}
        >
        {% endif %}
        <a href="{% url "Entries:Browser:last_page" interval=interval %}"> >| </a>
    </div>
</div>
{% endblock %}