<a href="{% url "Entries:Entry:view" entry_id=entry.id %}">
<div
     style="min-height:200px; height: 200px; min-width:170px; width: 170px; box-sizing:border-box; border:1px solid black;
            display:flex; flex-direction:column;">

        <div style="flex:1; display:flex; align-items:center; justify-content:center; overflow:hidden;">
            {% if entry.image %}
            <img src="{{ entry.image.url }}" alt="Entry Image"
                 style="max-width:100%; max-height:100%; width:auto; height:auto; object-fit:contain;">
            {% endif %}
        </div>

    <div class="clean_text" style="flex-shrink:0; padding:4px 8px;">
        <h4 style="margin:0; text-overflow:ellipsis; white-space:nowrap; text-align: center">
            {{ entry.name }} {% if entry.nickname %} ({{ entry.nicknames }}) {% endif %}
        </h4>
    </div>
</div>
</a>

