{% if entry %}
{% if entry.custom_style %}
<style>
.entry-{{ entry.id }} {
    background-color: {{ entry.custom_style.background_color }};
}

.entry-{{ entry.id }} *{
    font-color: {{ entry.custom_style.font_color }};
    font-style: {{ entry.custom_style.font_style }};
}

.entry-{{ entry.id }} .bordered{
    border-color: {{ entry.custom_style.border_color }};
    border-width: {{ entry.custom_style.border_width }};
    border-style: {{ entry.custom_style.border_style }};
    border-radius: {{ entry.custom_style.border_radius }};
}

{{ entry.custom_style.additional_css }}

</style>
{% endif %}
{% endif %}