{% if entry %}
{% if entry.enable_custom_style %}
<style>
.entry-{{ entry.id }}{
    {% if entry.background_color %}
        background-color: {{ entry.background_color }};
    {% endif %}
}

.entry-{{ entry.id }} .entry-element{
    {% if entry.element_background_color %}
        background-color: {{ entry.element_background_color }};
    {% endif %}
}

.entry-{{ entry.id }} *{
    {% if entry.font_color %}
        color: {{ entry.font_color }};
    {% endif %}
    {% if entry.font_style %}
        font-style: {{ entry.font_style }};
    {% endif %}
    {% if entry.font_family %}
        font-family: {{ entry.font_family|safe }};
    {% endif %}
    {% if entry.font_size %}
        font-size: {{ entry.font_size }}px;
    {% endif %}
}

.entry-{{ entry.id }} .entry-field-title{
    font-size: {{ entry.question_font_size }}px;
}

.entry-{{ entry.id }} .entry-field-value{
    font-size: {{ entry.answer_font_size }}px;
}

.entry-{{ entry.id }} .bordered{
    {% if entry.border_color %}
        border-color: {{ entry.border_color }};
    {% endif %}
    {% if entry.border_width %}
        border-width: {{ entry.border_width }}px;
    {% endif %}
    {% if entry.border_style %}
        border-style: {{ entry.border_style }};
    {% endif %}
    {% if entry.border_radius %}
        border-radius: {{ entry.border_radius }}px;
    {% endif %}
}

</style>
{% endif %}
{% endif %}