{% extends "book_explorer/book.html" %}

{% block start %}
    <form action="/creator/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "creator/settings-menu.html" %}
{% endblock %}

{% block content %}
    {% with edit_mode=True %}
        <div class="flip already_flipped">
            {% include "book_explorer/parts/page_back.html" %}
        </div>
        <div class="flip">
            {% include "book_explorer/parts/page_front.html" %}
        </div>
    {% endwith %}
{% endblock %}

{% block end %}
    </form>
{% endblock %}
