{% extends "main/main.html" %}


{% block main %}
<style>
    #enter_key-frame {
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }
</style>
<div id="enter_key-frame">
    <div class="box-v">
        <h2>Enter code</h2>
        <p>Creating a new entry is protected. If you don't have a code, sign in or ask Simon for one!</p>

        {% if failure %}
            <p>Error: Your session is using an invalid code. Either you entered a code that doesn't exist or it expired.</p>
        {% endif %}

        <form action="/creator/enter_key/" method="post">
            {% csrf_token %}
            <input type="text" name="code">
            <input type="submit" value="Submit">
        </form>
    </div>

</div>

{% endblock %}