{% if reload_browser == true %}
    <div hx-get="/admin/question_collection_manager/browser" hx-target="#question_collection_browser-root" hx-trigger="load"></div>
{% endif %}
<div class="box-v">
    <h2 style="text-align: center; margin: 0; padding-top: 5px;">Editor</h2>
    {% if question_collection != None %}
    <p style="text-align: center; border-bottom: 1px solid black; margin: 0; padding-bottom: 5px;">Editing collection {{ question_collection.id }}</p>
    {% endif %}
</div>
{% if question_collection != None %}
    <form>
    <table class="editor-table">
        <tr>
            <td>
                <label for="title-edit">Title</label>
            </td>
            <td>
                <input id="title-edit" name="title" type="text" value="{{ question_collection.title }}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="description-edit">Description</label>
            </td>
            <td>
                <textarea name="description" id="description-edit">{{ question_collection.description }}</textarea>
            </td>
        </tr>
    </table>
    <div class="box-h basic-spacing">
        <div class="spacer-h"></div>
        <button hx-delete="/admin/question_collection_manager/editor/{{ question_collection.id }}" hx-target="closest .editor-frame" hx-swap="outerHTML">Delete</button>
        <button hx-put="/admin/question_collection_manager/editor/{{ question_collection.id }}" hx-target="closest .editor-frame" hx-swap="outerHTML">
            Save
        </button>
    </div>
    </form>
    <div hx-trigger="load" hx-get="/admin/question_collection_manager/editor/{{ question_collection.id }}/question_relation_browser" id="question_relation_browser-frame" style="border-top: 1px solid black" class="browser_frame">
        <p  hx-target="#question_relation_browser-frame">
            Unable to load question relation browser.
        <button hx-get="/admin/question_collection_manager/editor/{{ question_collection.id }}/question_relation_browser" hx-target="#question_relation_browser-frame">
            Retry
        </button>
    </div>
{% else %}
    <p style="text-align: center;">Select a collection in the browser to load it in the editor.</p>
{% endif %}