<div class="entry-element" id="custom" style="border-style: dashed">
    {% if entry.rendered_custom_field %}
        {{ entry.rendered_custom_field|safe }}
        {% if edit_mode %}
            {% include "book/parts/custom_fields/custom_field_selector.html" %}
        {% endif %}
    {% else %}
        {% if edit_mode %}
            {% include "book/parts/custom_fields/custom_field_selector.html" %}
        {% else %}
            {% include "book/parts/custom_fields/not_found.html" %}
        {% endif %}
    {% endif %}
</div>