<div class="entry-element bordered" id="favorites-name">
    <h3>MY FAVORITES</h3>
</div>
<div class="entry-element bordered" id="favorites-1">
    <div class="entry-field">
        {% if edit_mode %}
            {{ entry_form.favorite_movie.as_field_group }}
        {% else %}
            <h4 class="entry-field-title">Movie / Show</h4>
            <p class="entry-field-value">{{ entry.favorite_movie }}</p>
        {% endif %}
    </div>
    <div class="entry-field">
        {% if edit_mode %}
            {{ entry_form.favorite_animal.as_field_group }}
        {% else %}
            <h4 class="entry-field-title">Animal</h4>
            <p class="entry-field-value">{{ entry.favorite_animal }}</p>
        {% endif %}
    </div>
    <div class="entry-field">
        {% if edit_mode %}
            {{ entry_form.favorite_food.as_field_group }}
        {% else %}
            <h4 class="entry-field-title">Food</h4>
            <p class="entry-field-value">{{ entry.favorite_food }}</p>
        {% endif %}
    </div>
    <div class="entry-field">
        {% if edit_mode %}
            {{ entry_form.favorite_book.as_field_group }}
        {% else %}
            <h4 class="entry-field-title">Book / Literature</h4>
            <p class="entry-field-value">{{ entry.favorite_book }}</p>
        {% endif %}
    </div>
</div>
<div class="entry-element bordered" id="favorites-2">
    <div class="entry-field">
        {% if edit_mode %}
            {{ entry_form.favorite_music.as_field_group }}
        {% else %}
            <h4 class="entry-field-title">Music</h4>
            <p class="entry-field-value">{{ entry.favorite_music }}</p>
        {% endif %}
    </div>
</div>