<style>
    #news_feed-panel {
        position: fixed;
        right: 0;
        width: 300px;
        height: 100%;
        max-height: 700px;
        padding: 10px;
    }
    #news_feed-toolbar {
        padding: 5px;
        align-items: center;
        text-align: center;
        text-wrap: nowrap;
        gap: 5px;
    }
</style>

<div class="box-v" id="news_feed-panel">
    <div class="box-h" id="news_feed-toolbar">
        <h3>News Feed</h3>
        <div class="spacer-h"></div>
        <a class="button" href="">Browse</a>
        <button hx-get="/blogposts/partial/news/" hx-target="#news_feed-content_root-frame">Refresh</button>
    </div>
    <div id="news_feed-content_root-frame">
        <p hx-get="/blogposts/partial/news/" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
            Unable to load news feed.
        </p>
    </div>
</div>