.box-h {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.box-v {
    display: flex;
    flex-direction: column;
}

.box-h input {
    flex: 1 0 auto;
}

.basic-spacing {
    gap: 3px;
    padding: 3px;
}

.box-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.toolbar {
      display: flex;
      flex-direction: row;
      padding: 5px;
      gap: 3px;
    align-items: center;
  }