.box-h {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.box-v {
    display: flex;
    flex-direction: column;
}

.basic-spacing {
    gap: 3px;
    padding: 3px;
}

.box-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}