.card {
    background-color: var(--color-bg-elevated);
    border: 1px solid var(--color-border-strong);
    box-sizing: border-box;
    overflow: hidden;
}

.card-xs {
    min-width: 70px;
    max-width: 70px;
    min-height: 100px;
    max-height: 100px;
}

.card-s {
    min-width: 100px;
    max-width: 100px;
    min-height: 130px;
    max-height: 130px;
}

.card-m {
    min-width: 150px;
    max-width: 150px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 10px;
}