{% if previous_entry != None %}
    <div class="flip already_flipped">
        {% with entry = previous_entry %}
                {% include "book/entry_page_back.j2" %}
        {% endwith %}
    </div>
{% endif %}

<div class="flip {% if transition == "prev" %} unflipped {% else %} flipped {% endif %}" style="z-index:1;">
    {% with entry = current_entry %}
        {% include "book/entry_page_back.j2" %}
    {% endwith %}

    {% with entry = previous_entry %}
        {% if previous_entry != None %}
            {% include "book/entry_page_front.j2" %}
        {% else %}
            {% include "book/book_start_page.j2" %}
        {% endif %}
    {% endwith %}
</div>

<div class="flip">
    {% with entry = current_entry %}
        {% include "book/entry_page_front.j2" %}
    {% endwith %}
</div>