{% if entry != None or edit_mode %}
    <div class="box-v entry-container">
        {% include "book_explorer/parts/entry_elements/entry_image.html" %}
        {% include "book_explorer/parts/entry_elements/about_me.html" %}
        {% include "book_explorer/parts/entry_elements/contact.html" %}
        {% include "book_explorer/parts/entry_elements/preferences.html" %}
        {% if not edit_mode %}
            <div class="box-h control-element">
                <button hx-get="/explorer/partial/entry/{{ entry.id }}/prev" hx-target="#page-root">Back</button>
                <div class="spacer-h"></div>
            </div>
        {% endif %}
    </div>
{% else %}
    {% include "book_explorer/parts/entry_not_found_page.html" %}
{% endif %}