<div class="front" data-entry_id="{{ entry.id }}" id="e{{ entry.id }}f">
    {% if entry != None or edit_mode %}
        <div class="box-v entry-container">
            {% include "book_explorer/parts/entry_elements/favorites.html" %}
            {% include "book_explorer/parts/entry_elements/future.html" %}
            {% include "book_explorer/parts/entry_elements/custom_field.html" %}
            <div class="box-h control-element">
                <div class="spacer-h"></div>
                {% if edit_mode %}
                    {% if entry %}
                        <button hx-post="/creator/edit/{{ entry.id }}/save/" hx-target="#page-root" hx-encoding='multipart/form-data'>Save</button>
                    {% else %}
                        <button hx-post="/creator/" hx-target="#page-root" hx-encoding='multipart/form-data'>Create</button>
                    {% endif %}
                {% else %}
                    <button hx-get="/explorer/partial/entry/{{ entry.id }}/next" hx-target="#page-root">Next</button>
                {% endif %}
            </div>
        </div>
    {% else %}
        {% include "book_explorer/parts/entry_not_found_page.html" %}
    {% endif %}
</div>