<div class="back" data-entry_id="{{ entry.id }}" id="p{{ entry.id }}b">
    {% if entry != None or edit_mode %}
        <style>
            .entry-container {
                font-family: Nunito, sans-serif;
            }
        </style>
        <div class="box-v entry-container">
            <div class="entry-element" id="image">
                {% if edit_mode %}
                    <input type="file" id="" name="image" accept="image/*">
                {% else %}
                    {% if entry.image %}
                    <img src="{{ entry.image.url }}" alt="No Image found">
                    {% endif %}
                {% endif %}
            </div>
            <div class="entry-element" id="about_me">
                <div class="entry-element-field">
                    My name is:
                    {% if edit_mode %}
                        <input required name="name" type="text">
                    {% else %}
                        <p>{{ entry.name }}</p>
                    {% endif %}
                </div>
                <div class="entry-element-field">
                    People also call me:
                    {% if edit_mode %}
                        <input name="nicknames" type="text">
                    {% else %}
                        <p>{{ entry.nicknames }}</p>
                    {% endif %}
                </div>
                <div class="entry-element-field">
                    My birthday is on:
                    {% if edit_mode %}
                        <input name="birthday" type="date">
                    {% else %}
                        <p>{{ entry.birthday }}</p>
                    {% endif %}
                </div>
                <div class="entry-element-field">
                    I am this tall:
                    {% if edit_mode %}
                        <input name="size" type="text">
                    {% else %}
                        <p>{{ entry.size }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="entry-element" id="contact">
                <div class="entry-element-field">
                    I am from:
                    {% if edit_mode %}
                        <input name="origin" type="text">
                    {% else %}
                        <p>{{ entry.origin }}</p>
                    {% endif %}
                </div>
                <div class="entry-element-field">
                    I live in:
                    {% if edit_mode %}
                        <input name="location" type="text">
                    {% else %}
                        <p>{{ entry.location }}</p>
                    {% endif %}
                </div>
                <div class="entry-element-field">
                    How you can reach me:
                    {% if edit_mode %}
                        <input name="contact" type="text">
                    {% else %}
                        <p>{{ entry.contact }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="entry-element" id="preferences">
                <div class="entry-element-field">
                    I really like:
                    {% if edit_mode %}
                        <input name="likes" type="text">
                    {% else %}
                        <p>{{ entry.likes }}</p>
                    {% endif %}
                </div>
                <div class="entry-element-field">
                    I really don't like:
                    {% if edit_mode %}
                        <input name="dislikes" type="text">
                    {% else %}
                        <p>{{ entry.dislikes }}</p>
                    {% endif %}
                </div>
                <div class="entry-element-field">
                    My craziest experience:
                    {% if edit_mode %}
                        <input name="craziest_experience" type="text">
                    {% else %}
                        <p>{{ entry.craziest_experience }}</p>
                    {% endif %}
                </div>
                <div class="entry-element-field">
                    My loveliest experience:
                    {% if edit_mode %}
                        <input name="loveliest_experience" type="text">
                    {% else %}
                        <p>{{ entry.loveliest_experience }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="box-h control-element">
                {% if not edit_mode %}
                    <button hx-get="/explorer/partial/entry/{{ entry.id }}/prev" hx-target="#page-root">Back</button>
                {% endif %}
                <div class="spacer-h"></div>
            </div>
        </div>
    {% else %}
        <div class="box-center">
            <div class="box-v">
                Entry not found. <br>
                <button  hx-get="/explorer/partial/start" hx-target="#page-root">Reset</button>
            </div>
        </div>
    {% endif %}
</div>