<form>
    <label for="name-input">User ID</label>
    <input id="name-input" name="user_id" type="number">
    <label for="secret-input">Custom Secret</label>
    <input id="secret-input" name="secret" type="password">
    <button hx-post="/api/crud/entry/form_create">
        Submit
    </button>
</form>