<div class="answer-viewer-frame">
    {% if answer != None %}
    <div class="answer-viewer-header">
        <div class="box-h">
            <h3>{{ answer.question.description }}</h3>
            <div class="spacer-h"></div>
            <button  hx-get="/book/answer/{{ answer.id }}/edit" hx-target="#answer-viewer-{{ answer.id }}-main">Edit</button>
        </div>
    </div>
    <div class="answer-viewer-main" id="answer-viewer-{{ answer.id }}-main">
        {{ answer.value }}
    </div>
    {% else %}
        <div class="box-center">
            Answer not found.
        </div>
    {% endif %}
</div>