{% extends "main/main.html" %}


{% block main %}

    <style>
    .image_box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .image_box img{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
    }
    </style>
    <div class="box-v basic-spacing">
        Your Entries:
        <div class="box-h basic-spacing">
            {% for entry in entries %}
                <div class="box-v basic-spacing card-s">
                    <div class="image_box">
                        <img src="{% if entry.image %}{{ entry.image.url }}{% endif %}" alt="Image" class="expand">
                    </div>
                    <div class="box-h-center">{{ entry.id }}</div>
                    <div class="box-h basic-spacing">
                        <a href="/editor/{{ entry.id }}/" class="button expand-h">✏️</a>
                        <a href="/editor/{{ entry.id }}/delete" class="button expand-h">❌</a>
                    </div>
                </div>
            {% endfor %}
            {% if can_create_entry %}
                <a href="/entry/new/" class="clean_text">
                    <div class="box-v basic-spacing card-s">
                        <div class="box-center">
                            +
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}