<div hx-get="/tests/admin/question_editor/{{ question.id }}" hx-target="#question_details-root" hx-trigger="click" class="question_browser-element box-h">
    <p>{{ question.id }} - {{ question.title }}</p>
</div>