{% extends "book/parts/custom_fields/custom_field_frame.html" %}

{% block field_display %}
    <p>
        {{ custom_field_db_object.text }}
    </p>

{% endblock %}

{% block field_editor %}
    <input type="hidden" id="custom_field_type" name="custom_field_type" value="txt"/>
    <textarea name="custom_text" id="custom_text" style="width: 100%; height: 100%; box-sizing: border-box; resize: none; margin: 0; padding: 0;">{% if entry %} {{ custom_field_db_object.text }} {% endif %}</textarea>
{% endblock %}