.entry-container #image{
  position: absolute;
  left: 36px;
  top: 45px;
  width: 170px;
  height: 200px;
  rotate: 7deg;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.entry-container #image img{
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
    object-fit:contain;
}

.entry-container #image label {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items:center;
    background-color: white;
}
.entry-container #image label:hover {
    background-color: lightyellow;
}
.entry-container #image label:active {
    background-color: antiquewhite;
}
.entry-container #about_me{
    position: absolute;
    left: 232px;
    top: 25px;
    width: 450px;
    max-height: 255px;
    background: #FFFFFFFF;
}

.entry-container #about_me .entry-field {
    flex-direction: row;
    gap: 5px;
}

.entry-container #contact{
    position: absolute;
    left: 67px;
    top: 317px;
    max-height: 300px;
    width: 230px;
    background: #FFFFFFFF;
    rotate: 350deg;
}

.entry-container #preferences{
    position: absolute;
    left: 350px;
    top: 285px;
    max-height: 350px;
    width: 320px;
    background: #FFFFFFFF;
}

.entry-container #future{
    width: 270px;
    height: 240px;
    position: absolute;
    top: 30px;
    left: 400px;
    rotate: 6.5deg;
}

.entry-container #favorites-name{
    position: absolute;
    top: 23px;
    left: 25px;
    z-index: 1;
    padding: 5px;
}

.entry-container #favorites-1{
    width: 320px;
    max-height: 360px;
    position: absolute;
    top: 35px;
    left: 50px;
    rotate: 355deg;
    z-index: 0;
}

.entry-container #favorites-2{
    width: 320px;
    max-height: 100px;
    position: absolute;
    top: 297px;
    left: 350px;
    rotate: 3deg;
    z-index: 1;
}

.entry-container #custom{
    width: 622px;
    height: 189px;
    position: absolute;
    top: 415px;
    left: 46px;
}