.entry-element {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #FFFFFFFF;
    padding: 20px;
    gap: 30px;
    overflow-y: scroll;
    pointer-events: auto;
}

.entry-element-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
    pointer-events: auto;
}

.entry-element-field input{
    flex-grow: 1;
    border: none;
    border-bottom: 1px dashed black;
    font-size: 18px;
}

.entry-element-field input:hover {
    background-color: lightyellow;
}
.entry-element-field input:active {
    background-color: antiquewhite;
}

.entry-element-field p{
    padding: 0;
    margin: 0;
    min-height: 28px;
    flex-grow: 1;
    border: none;
    border-bottom: 1px dashed black;
    font-size: 18px;
}

.entry-element-field input:focus {
    outline: none;
    border: none;
    border-bottom: 2px dashed blue;
}

.entry-topic {
    text-align: center;
    overflow: hidden;
}
