<link rel="stylesheet" href="/static/style/header.css">

<div class="header-main">
    <div class="box-v">
        <div class="header-decorator-bar">
            <img src="/static/img/favicon512.ico" alt="icon">
            <h1>Frontend</h1>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/viewer">View entries</a>
            <a href="/creator">+ Create own entry</a>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle">Demos</a>
              <div class="dropdown-menu">
                <a href="/book">Book</a>
                <a href="/canvas">Canvas</a>
                  <a href="/tests/otp/ui">OTP</a>
                <a href="/entry/creator">Entry creator</a>
              </div>
            </div>
            <div class="spacer-h"></div>
            <a href="/dedication">Dedication</a>
        </div>
    </div>
</div>
