
{% extends "base.j2" %}

{% block main %}
    <h1>Hello from FastAPI + HTMX + Jinja2!</h1>

    <button hx-get="/test" hx-target="#partial-content">Test API call</button>

    <div id="partial-content">
        <!-- This will be replaced by response from /partial -->
    </div>
{% endblock %}