{% extends "main/main.html" %}


{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'book/style/book.css' %}">
<link rel="stylesheet" href="{% static 'book/style/entry.css' %}">
<link rel="stylesheet" href="{% static 'book/style/element_positions.css' %}">
{% block start %}
{% endblock %}

<div class="book-container">
<div class="book">

  <div class="flip-book">
      <div class="book-cover already_flipped"></div>
      <div class="book-3d" id="page-root">
          {% block content %}
                {% include "book/parts/start_page.html" %}
          {% endblock %}
      </div>
      <div class="book-cover"></div>
  </div>

</div>
</div>

{% block end %}
{% endblock %}
{% endblock %}
