{% extends "book_explorer/book.html" %}

{% block start %}
    <form action="{% if entry %}/editor/{{ entry.id }}/{% else %}/creator/{% endif %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ entry_form.non_field_errors }}
    {% include "editor/settings-menu.html" %}
{% endblock %}

{% block content %}
    {% with edit_mode=True %}
        <div class="flip already_flipped">
            <div class="back" data-entry_id="{{ entry.id }}" id="p{{ entry.id }}b">
                {% include "book_explorer/parts/entry_page_1.html" with entry=current_entry %}
            </div>
        </div>
        <div class="flip">
            <div class="front" data-entry_id="{{ entry.id }}" id="e{{ entry.id }}f">
                {% include "book_explorer/parts/entry_page_2.html" with entry=previous_entry%}
            </div>
        </div>
    {% endwith %}
{% endblock %}

{% block end %}
    </form>
{% endblock %}
