{% extends "main/main.html" %}


{% block main %}
    {% load static %}
<link rel="stylesheet" href="{% static 'book_explorer/style/book.css' %}">
<link rel="stylesheet" href="{% static 'book_explorer/style/entry.css' %}">
<link rel="stylesheet" href="{% static 'book_explorer/style/element_positions.css' %}">
<div class="book-container">
<div class="book">

  <div class="flip-book">
      <div class="book-cover already_flipped"></div>
      <div class="book-3d" id="page-root">
          {% block content %}
                {% include "book_explorer/start_page.html" %}
          {% endblock %}
      </div>
      <div class="book-cover"></div>
  </div>

</div>
</div>
{% endblock %}