{% if reload_browser == true %}
    <div hx-get="/admin/entry_manager/browser" hx-target="#entry_browser-root" hx-trigger="load"></div>
{% endif %}
<div class="box-v">
    <h2 style="text-align: center; margin: 0; padding-top: 5px;">Editor</h2>
    {% if entry != None %}
    <p style="text-align: center; border-bottom: 1px solid black; margin: 0; padding-bottom: 5px;">Editing Entry {{ entry.id }}</p>
    {% endif %}
</div>
{% if entry != None %}
    <form>
    <table class="editor-table">
        <tr>
            <td>
                <label for="owner-edit">Owner</label>
            </td>
            <td>
                <input id="owner-edit" name="owner" type="text" value="">
            </td>
        </tr>
        <tr>
            <td>
                <label for="secret-edit">Secret</label>
            </td>
            <td>
                <input id="secret-edit" name="secret" type="text" value="">
            </td>
        </tr>
        <tr>
            <td>
                <label for="published-edit">Published</label>
            </td>
            <td>
                <input id="published-edit" type="checkbox" name="published">
            </td>
        </tr>
    </table>
    <div class="box-h basic-spacing">
        <div class="spacer-h"></div>
        <button hx-delete="/admin/entry_manager/editor/{{ entry.id }}" hx-target="closest .editor-frame" hx-swap="outerHTML">Delete</button>
        <button hx-put="/admin/entry_manager/editor/{{ entry.id }}" hx-target="closest .editor-frame" hx-swap="outerHTML">
            Save
        </button>
    </div>
    </form>
    <div hx-trigger="load" hx-get="/admin/entry_manager/editor/{{ entry.id }}/answer_browser" id="answer_browser-frame" style="border-top: 1px solid black" class="browser_frame">
        <p  hx-target="#question_relation_browser-frame">
            Unable to load answer browser.
        <button hx-get="/admin/entry_manager/editor/{{ entry.id }}/answer_browser" hx-target="#answer_browser-frame">
            Retry
        </button>
    </div>
{% else %}
    <p style="text-align: center;">Select an entry in the browser to load it in the editor.</p>
{% endif %}