<div class="box-v entry_browser-inner_frame">
    <div class="box-h entry_browser-toolbar">
        <div class="spacer-h"></div>
        <button hx-post="/api/crud/entry/form_create">+ Add Entry</button>
        <button hx-get="/tests/admin/entry_browser" hx-target="#entry_browser_root">Refresh</button>
    </div>
    <div class="box-v entry_browser-content_root">
        {% for entry in entries %}
            {% include "apps/admin/entry_manager/entry_browser_element.j2" %}
        {% endfor %}
    </div>
</div>