<div class="front" data-entry_id="{{ entry.id }}" id="e{{ entry.id }}f">
    {% if entry != None %}
    <div class="box-v entry-container">
        {% for selected_answer in entry.answers %}
            {% with answer = selected_answer %}
                {% include "book/elements/answer_viewer.j2" %}
            {% endwith %}
        {% endfor %}
        <div class="box-h control-element">
            <div class="spacer-h"></div>
            <button hx-get="/book/entry/{{ entry.id }}/next" hx-target="#page-root">Next</button>
        </div>
    </div>
    {% else %}
        <div class="box-center">
            <div class="box-v">
                Entry not found. <br>
                <button  hx-get="/book/entry/0/next" hx-target="#page-root">Reset</button>
            </div>
        </div>
    {% endif %}
</div>