<div class="front" data-entry_id="{{ entry.id }}" id="e{{ entry.id }}f">
    {% if entry != None %}
    <div class="box-v entry-container">
        {% if entry.answers != None%}
            <div class="entry-element entry-answer">
                <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
                <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
            </div>
            {% if entry.answers | length > 1 %}
            <div class="entry-element entry-answer">
                <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
                <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
            </div>
            {% endif %}
            {% if entry.answers | length > 2 %}
            <div class="entry-element entry-answer">
                <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
                <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
            </div>
            {% endif %}
            {% if entry.answers | length > 3 %}
            <div class="entry-element entry-answer">
                <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
                <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
            </div>
            {% endif %}
            {% if entry.answers | length > 4 %}
            <div class="entry-element entry-answer">
                <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
                <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
            </div>
            {% endif %}
        {% endif %}
        <div class="box-h control-element">
            <div class="spacer-h"></div>
            <button hx-get="/book/entry/{{ entry.id }}/next" hx-target="#page-root">Next</button>
        </div>
    </div>
    {% else %}
        <div class="box-center">
            <div class="box-v">
                Entry not found. <br>
                <button  hx-get="/book/entry/-1/next" hx-target="#page-root">Reset</button>
            </div>
        </div>
    {% endif %}
</div>