
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/img/favicon512.ico">
    <link rel="stylesheet" href="/static/style/boxes.css">
    <link rel="stylesheet" href="/static/style/base.css">
    <link rel="stylesheet" href="/static/style/spacers.css">
    <meta charset="UTF-8" />
    <title>Simon's frontend</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</head>
<body>
{% include "header.j2" %}

{% block main %}

{% endblock %}
</body>
</html>
