.answer-viewer-frame {
    min-height: 100px;
    width: 100%;
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.answer-viewer-main {
    width: 100%;
    height: 100%;
    position: relative;
}

.answer-viewer-header {
    min-height: 30px;
    width: 100%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
}
.answer-viewer-header h3{
    text-wrap: nowrap;
    margin: 0;
}

.answer-viewer-header button{
    border: none;
    border-left: 1px solid black;
    background: none;
    height: 100%;
    margin: 0;
}

.answer-viewer-header .box-h {
    align-items: center;
    height: 100%;
}

.answer-viewer-main textarea {
    width: 100%;
    height: 100%;
    resize: none;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.answer-viewer-main button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}