.app_frame {
    height: 500px;
}

.app_widget-root {
    min-width: 500px;
    height: 100%;
    max-height: 500px;
    border: 1px solid black;
    overflow-y: scroll;
}

.app_widget-toolbar {
    text-wrap: nowrap;
    gap: 3px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.app_widget-toolbar button{
    border-top: none;
    border-bottom: none;
}

.app_widget-toolbar button:last-child{
    border-right: none;
}

.browser_element {
    width: 100% ;
    box-sizing: border-box;
    text-wrap: nowrap;
    padding-left: 3px;
    gap: 3px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
}

.hover_element {
    width: 100%;
}

.hover_element:hover{
    background: lightyellow;
}

.hover_element:active{
    background: antiquewhite;
}

.browser_element button{
    border-top: none;
    border-bottom: none;
}

.browser_element button:last-child {
    border-right: none;
}

.browser_frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.browser_frame div{
    flex-grow: 0;
    flex-shrink: 1;
}

.browser-content_root {
    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: auto;
}

.editor-table {
    width: 100%;
}

.editor-table tr{
    width: 100%;
}

.editor-table td:last-child{
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
}

.editor-table td{
    vertical-align: top;
    align-items: start;
}

.editor-table textarea {
    width: 100%;
    height: 100px;
    min-height: 30px;
    box-sizing: border-box;
    resize: vertical;
}

.editor-table tr td input[type=text] {
    width: 100%;
    box-sizing: border-box
}
