.entry_browser-root {
    min-width: 500px;
    height: 100%;
    max-height: 500px;
    border: 1px solid black;
}

.entry_browser-toolbar {
    text-wrap: nowrap;
    gap: 3px;
    border-bottom: 1px solid black;
}

.entry_browser-toolbar button{
    border-top: none;
    border-bottom: none;
}

.entry_browser-toolbar button:last-child{
    border-right: none;
}

.entry_browser-element {
    width: 100%;
    text-wrap: nowrap;
    padding-left: 3px;
    box-sizing: border-box;
    gap: 3px;
    border-bottom: 1px solid black;
}

.entry_browser-element button{
    border-top: none;
    border-bottom: none;
}

.entry_browser-element button:last-child {
    border-right: none;
}

.entry_browser-inner_frame {
    height: 100%;
}

.entry_browser-content_root {
    max-height: 100%;
    overflow-y: scroll;
}

.entry_details-root {
    border: 1px solid black;
    min-width: 500px;
    height: 100%;
}
.entry_manager-root {
    height: 500px;
    padding-left: 250px;
    padding-right: 250px;
}