.header-main {
    max-height: 200px;
    width: 100%; /* or fixed width */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    z-index: 1000;
}

.header-main img {
  padding: 3px;
  height: 100px;  /* fills parent's height */
  width: auto;  /* scale width to keep aspect ratio */
  display: block; /* remove inline space */
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
}

.navbar a {
    padding: 3px;
    text-wrap: nowrap;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.header-decorator-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    border-bottom: 1px solid black;
}

.header-decorator-bar h1 {
    width: 100%;
    text-align: center;
}

.dropdown {
    height: 100%;
    top: 0;
    right: 0;
  position: relative;
  display: flex;
}

/* Hidden by default */
.dropdown-menu {
  position: absolute;
  top: 100%;      /* directly under the trigger */
  left: 0;
  min-width: 160px;
  background: white;
  border: 1px solid #ccc;
  display: none;
    z-index: 1000;
}

/* Show on hover over trigger or menu area */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background: #f0f0f0;
}
