.question_browser-root {
    min-width: 500px;
    height: 100%;
    max-height: 500px;
    border: 1px solid black;
}

.question_browser-toolbar {
    text-wrap: nowrap;
    gap: 3px;
    border-bottom: 1px solid black;
}

.question_browser-toolbar button{
    border-top: none;
    border-bottom: none;
}

.question_browser-toolbar button:last-child{
    border-right: none;
}

.question_browser-element {
    width: 100%;
    text-wrap: nowrap;
    padding-left: 3px;
    box-sizing: border-box;
    gap: 3px;
    border-bottom: 1px solid black;
}

.question_browser-element:hover{
    background: lightyellow;
}

.question_browser-element:active{
    background: antiquewhite;
}

.question_browser-element button{
    border-top: none;
    border-bottom: none;
}

.question_browser-element button:last-child {
    border-right: none;
}

.question_browser-inner_frame {
    height: 100%;
}

.question_browser-content_root {
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: auto;
}

.question_details-root {
    border: 1px solid black;
    min-width: 500px;
    height: 100%;
}

.question_manager-root {
    height: 500px;
    padding-left: 250px;
    padding-right: 250px;
}