<div class="entry-element" id="about_me">
    <div class="entry-element-field">
        My name is:
        {% if edit_mode %}
            <input required name="name" type="text">
        {% else %}
            <p>{{ entry.name }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        People also call me:
        {% if edit_mode %}
            <input name="nicknames" type="text" {% if entry %} value={{ entry.nicknames }} {% endif %}>
        {% else %}
            <p>{{ entry.nicknames }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        My birthday is on:
        {% if edit_mode %}
            <input name="birthday" type="date">
        {% else %}
            <p>{{ entry.birthday }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        I am this tall:
        {% if edit_mode %}
            <input name="size" type="text">
        {% else %}
            <p>{{ entry.size }}</p>
        {% endif %}
    </div>
</div>