<div class="entry-element" id="contact">
    <div class="entry-element-field">
        I am from:
        {% if edit_mode %}
            <input name="origin" type="text" {% if entry %} value={{ entry.origin }} {% endif %}>
        {% else %}
            <p>{{ entry.origin }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        I live in:
        {% if edit_mode %}
            <input name="location" type="text" {% if entry %} value={{ entry.location }} {% endif %}>
        {% else %}
            <p>{{ entry.location }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        How you can reach me:
        {% if edit_mode %}
            <input name="contact" type="text" {% if entry %} value={{ entry.contact }} {% endif %}>
        {% else %}
            <p>{{ entry.contact }}</p>
        {% endif %}
    </div>
</div>