<div class="entry-element" id="preferences">
    <div class="entry-element-field">
        {% if edit_mode %}
            {{ entry_form.likes.as_field_group }}
        {% else %}
            {{ entry.likes.verbose_name }}
            <p>{{ entry.likes }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        {% if edit_mode %}
            {{ entry_form.dislikes.as_field_group }}
        {% else %}
            {{ entry.dislikes.verbose_name }}
            <p>{{ entry.dislikes }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        {% if edit_mode %}
            {{ entry_form.craziest_experience.as_field_group }}
        {% else %}
            {{ entry.craziest_experience.verbose_name }}
            <p>{{ entry.craziest_experience }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        {% if edit_mode %}
            {{ entry_form.loveliest_experience.as_field_group }}
        {% else %}
            {{ entry.loveliest_experience.verbose_name }}
            <p>{{ entry.loveliest_experience }}</p>
        {% endif %}
    </div>
</div>