<div class="entry-element" id="preferences">
    <div class="entry-element-field">
        I really like:
        {% if edit_mode %}
            {{ entry_form.likes.as_field_group }}
        {% else %}
            <p>{{ entry.likes }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        I really don't like:
        {% if edit_mode %}
            {{ entry_form.dislikes.as_field_group }}
        {% else %}
            <p>{{ entry.dislikes }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        My craziest experience:
        {% if edit_mode %}
            {{ entry_form.craziest_experience.as_field_group }}
        {% else %}
            <p>{{ entry.craziest_experience }}</p>
        {% endif %}
    </div>
    <div class="entry-element-field">
        My loveliest experience:
        {% if edit_mode %}
            {{ entry_form.loveliest_experience.as_field_group }}
        {% else %}
            <p>{{ entry.loveliest_experience }}</p>
        {% endif %}
    </div>
</div>