{% extends "main/main.html" %}


{% block main %}

    <section class="section">
        <div class="box content">
            <dl>
                <dt class="subtitle is-5">This site is dedicated to:</dt>
                <dd>♥ My best friend Hunter</dd>
                <dd>♥ My best friend Jaedyn</dd>
                <dd>♥ My best friend Kaylee</dd>
                <dd>♥ My best friend Karina</dd>
                <dd>♥ My best friend Maddy</dd>
                <dd>♥ My idol Dennis</dd>
            </dl>
        </div>
    </section>

{% endblock %}