{% load static %}

<link rel="stylesheet" href={% static "/style/header.css" %}>

<div class="header-main">
    <div class="box-v">
        <div class="header-decorator-bar">
            <h1>Simons friend book ♥</h1>
        </div>
        <div class="navbar">
            <a href="{% url "WebPage:Pages:index" %}" class="button">Home</a>
            <a href="{% url "Entries:Entry:new" %}" class="button">+ Create entry</a>
            <div class="dropdown button">
                <a href="{% url "Entries:Explorer:book_start" %}" class="dropdown-toggle clean_text">View entries</a>
                <div class="dropdown-menu">
                    <a href="{% url "Entries:Explorer:book_start" %}">Explorer</a>
                    <a href="{% url "Entries:Browser:root" %}">Browser</a>
                </div>
            </div>
            <div class="spacer-h"></div>
            <div class="dropdown button">
                <a href="/other-stuff/" class="dropdown-toggle clean_text">Other Stuff</a>
                <div class="dropdown-menu">
                    <a href="{% url "Blog:browser" %}">Blog</a>
                </div>
            </div>
            {% if request.user.is_superuser %}
                <div class="dropdown button">
                    <a target="_blank" rel="noopener noreferrer" href="/admin/" class="dropdown-toggle clean_text">Admin</a>
                    <div class="dropdown-menu dropdown-reverse">
                        <a target="_blank" rel="noopener noreferrer" href="/admin">Admin UI</a>
                        <a target="_blank" rel="noopener noreferrer" href="/admin/Entries/createcode/">Manage creation keys</a>
                        <a target="_blank" rel="noopener noreferrer" href="/admin/Entries/entryv1/">Manage entries</a>
                    </div>
                </div>
            {% endif %}
            {% include "generic_parts/user_dropdown.html" %}
        </div>
    </div>
</div>