{% load static %}

<link rel="stylesheet" href={% static "/style/header.css" %}>

<div class="header-main">
    <div class="box-v">
        <div class="header-decorator-bar">
            <img src="{% static "/img/favicon512.ico" %}" alt="icon">
            <h1>Frontend</h1>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/viewer">View entries</a>
            <a href="/explorer/creator">+ Create own entry</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Demos</a>
                <div class="dropdown-menu">
                    <a href="/explorer">Book</a>
                    <a href="/canvas">Canvas</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Admin</a>
                <div class="dropdown-menu">
                    <a href="/admin">Admin UI</a>
                </div>
            </div>
            <div class="spacer-h"></div>
            <a href="/dedication">Dedication</a>
        </div>
    </div>
</div>