{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/img/favicon512.ico">
    <link rel="stylesheet" href="/static/style/boxes.css">
    <link rel="stylesheet" href="/static/style/base.css">
    <link rel="stylesheet" href="/static/style/spacers.css">
    <link rel="stylesheet" href="/static/style/cards.css">
    <meta charset="UTF-8" />
    <title>Simon's frontend</title>
    <!--<script src="https://unpkg.com/htmx.org@1.9.3"></script>-->
    <script src="{% static '/js/htmx.js' %}"></script>
    <script>
        htmx.on("htmx:responseError", function (evt) {
        const requestConfig = evt.detail.requestConfig;
        const xhr = evt.detail.xhr;
        document.getElementById('error').innerHTML = `<b>${requestConfig.verb} ${requestConfig.path}</b> returned <b>${xhr.status} ${xhr.statusText}</b><br>${xhr.responseText}`;
        });
        htmx.on("htmx:sendError", function (evt) {
            document.getElementById('error').innerHTML = "Network error or failed to connect to server.";
        });
    </script>
</head>
<body>
{% include "main/header.html" %}
<div id="error"></div>
<a href="/dedication/">
    <p
        style="position:fixed;
        bottom: 10px; right: 10px;
        border: 1px solid black;
        padding: 3px;
        text-align: center;
        z-index: 100;
        background-color: #f0f0f0;
        color: black;
        text-decoration: none;
        box-sizing: border-box;
    ">
        v2.4</p>
</a>
{% block main %}
    <div class="box-h" style="flex: 1 1 auto; min-height: 0;">
        <p>Hello :)</p>
        <div class="spacer-h"></div>
        {% include "blog_posts/parts/news_feed_panel.html" %}
    </div>



{% endblock %}
</body>
</html>

