
.book {
    width: 1400px;
    display: flex;
    justify-content: end;
    perspective: 1400px;
    perspective-origin: 50% 50%;
}

.book-container {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.flip-book {
  width: 700px;
  height: 650px;
  position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(25deg);
}

.book-3d {
    transform-origin: left;
    transform-style: preserve-3d;
    height: 100%;
}

.book-cover {
    width: 100%;
    height: 100%;
    padding-bottom: 13px;
    padding-top: 10px;
    padding-right: 13px;
    background-color: antiquewhite;
    position: absolute;
    top: -10px;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    z-index: -999;
    border-left: 1px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.flip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    padding: 10px;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: .5s;
    border: 1px solid black;
    box-sizing: border-box;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F8F0E9;
  box-sizing: border-box;
  padding: 10px;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #F8F0E9;
    box-sizing: border-box;
    padding: 10px;
}

.flip .control-element {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    position: absolute;
    padding: 15px;
    box-sizing: border-box;
}

@keyframes flipAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}

@keyframes unflipAnimation {
  from {
      transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.flipped {
  animation: flipAnimation 1s forwards; /* 1s duration, keep end state */
}
.unflipped {
  animation: unflipAnimation 1s forwards; /* 1s duration, keep end state */
}

.already_flipped {
  transform: rotateY(-180deg); /* 1s duration, keep end state */
}